.MuiListItem-gutters {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.adminTeamsCardMore {
    right: 16px;
}

.MuiPopover-paper {
    min-width: 77px !important;
}

.MuiList-padding {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.MuiTypography-body1 {
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

.MuiDivider-root {
    background-color: #000000 !important;
}