.checkbox {
  &.MuiIconButton-root {
    padding: 0;
  }
  &.MuiCheckbox-colorPrimary {
    &.Mui-checked {
      color: #000000;
    }
  }
  .MuiIconButton-label {
    margin-right: 12px;
    padding: 4px 0 4px 10px;
  }
  .MuiSvgIcon-root {
    width: 26px;
    height: 26px;
  }
}
