.drawer-form {
  width: 496px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .MuiInput-underline:before,
  .MuiInput-underline:after{
    border-bottom: none;
    content: none;
  }
  .input-control {
    width: 100%;
    label {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $paragraphs;
    }
    input {
      height: 56px;
      width: 100%;
      border: 1px solid $border-color;
      box-sizing: border-box;
      border-radius: 4px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $headings;
    }
  }

  &__header {
    padding-bottom: 40px;
    border-bottom: 1px solid $elements1;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $headings;
  }
  .MuiFormControlLabel-root {
    .MuiFormControlLabel-label {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold !important;
      font-size: 16px !important;
      line-height: 24px;
      color: $headings;
    }
    .MuiSvgIcon-root {
      width: 26px;
      height: 26px;
      color: #c4c4c4;
    }
    .Mui-checked {
      color: $green;
      .MuiSvgIcon-root {
        color: $green;
      }
    }
  }
  // custom select in drawer
  .select-react__placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .select-react__single-value {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $headings;
  }
  .select-react__control .select-react__value-container .select-react__single-value {
    top: 32px !important;
  }
}

