.presentation {
    padding: 24px !important;
    background: #F9FAFC;

    &--view {
        width: 360px;
        height: 56px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        /* or 133% */
        display: flex;
        align-items: center;
        color: $headings;
    }

    &--share {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-image: url('assets/svg/Presentation/share.svg');
    }
    &--select {
        margin: 20px 10px 0 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url('assets/svg/Presentation/more.svg');
    }

    &-site {

        &-header {
            display: flex;
            align-items: center;
            height: 120px;
        }
    }
}

.helperButGroup {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.exportBut {
    padding: 16px 20px;
    background: #ffffff;
    color: $icongraphy;
    margin-right: 24px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: $box-shadow;
    border-radius: 4px;

    &--present {
        background: #1C5DE1;
        color: #ffffff;
    }
}

.slideBox {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    min-height: 684px;
    padding-right: 47px;
    padding-left: 47px;
}

.slideTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    height: 32px;
}

.slideContent {
    margin-top: 71px;
    padding-bottom: 112px;
}

// Fullscreen mode style in presentation playing
.fullscreen-enabled .presentation {
    background: #ffffff;
    padding: 0;
}

.fullscreen-enabled .slideBox {
    padding: 60px 142px;
    box-shadow: none;
}

.fullscreen-enabled .slideTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    display: flex;
    align-items: center;
    height: 32px;
}

.fullscreen-enabled .slideContent {
    margin-top: 136px;
}

// Presentation content barchart style
.presentation {
    .barChartContainer {
        background: #C4C4C4;
        border-radius: 4px;
        height: auto;
        margin: auto;
        padding: unset;
        .barChart__header {
            padding: 16px 20px 40px 20px;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            .barChart__legend-select {

                    height: auto;

            }
            .barChart__legend-item {
                margin: unset;

            }
            .barChart__legend-mark {
                margin-right: 12px;
            }
        }
    }
}

// Presentation control style


.presentation-container {
    padding: 12px 0;
    margin-bottom: 6px;


    .presentation-item {
        height: 174px;
        margin: 12px 0;
        background: $white;
        box-shadow: $content-block-shadow;
        border-radius: 4px;
        &-top {
            height: 138px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        &-title {
            height: 36px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            padding-left: 12px;
            line-height: 20px;
            display: flex;
            align-items: center;
        }

        &-menu {
            float: right;

            svg.MuiSvgIcon-root {
                width: 24px;
                height: 24px;
                fill: #fff;
                position: relative;
                top: -5px;
            }
        }
    }
}


.dashboard.prst-container .horizontalTab {
    margin-bottom: 0;
}

$dialog-primary: #1C5DE1;

#presentation-dialog {

    .MuiDialog-paper {
        width: 684px;
        margin: 0;
        padding: 32px 32px 0;
    }
    .MuiDialogActions-root {
        padding: 16px 0;
    }

    .presentation-dialog {

        & * {
            font-family: 'Open Sans';
            font-style: normal;
            letter-spacing: 0.01em;
        }

        &-close {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url('assets/svg/Presentation/close.svg');
            fill: #868E9A;
            position: absolute;
            top: 14px;
            right: 0;
            cursor: pointer;
        }

        &-subtitle {
            font-weight: bold;
            font-size: 20px;
            color: #1E2C36;
            margin-top: 32px;
        }

        &-group {
            display: flex;
            margin-top: 20px;
            max-height: 56px;

            input.form-control {
                margin-right: 20px;
                height: 56px;
                border: 1px solid #E4E4E4;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                box-shadow: none;
            }

            button {
                width: 92px;
                background-color: $dialog-primary;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                text-transform: capitalize;
                margin-left: 20px;
            }
            .presentation-dialog-list--arrow {
                right: 24px;
                top: 24px;
            }
        }

        &-label *,
        &-list *,
        &-actions * {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #495660;
        }

        &-label {
            margin: 32px 0;
        }

        &-actions {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            div {
                width: 50%;
            }
            div:nth-child(2) {
                text-align: right;
            }
        }

        &-list {
            min-height: 204px;
            border-top: 1px solid #E4E4E4;
            border-bottom: 1px solid #E4E4E4;

            * {
                font-weight: normal !important;
                font-size: 14px !important;
                line-height: 20px;
                color: #1E2C36;
            }

            .MuiListItem-root {
                height: 50px;
            }
            .MuiList-padding {
                padding: 0 !important;
                margin: 25.5px 0;
            }
            .MuiAvatar-root {
                width: 36px;
                height: 36px;
            }
            .MuiNativeSelect-select.MuiNativeSelect-select {
                padding-right: 36px;
            }

            &--arrow {
                width: 12px;
                height: 8px;
                background-repeat: no-repeat;
                background-image: url('assets/svg/Presentation/select-arrow.svg');
                position: absolute;
                right: 5px;
                top: 17px;
            }
        }

        &-footer {
            width: 100%;
            display: flex;
            align-items: center;

            &-link {
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                color: $dialog-primary;
                display: flex;
                cursor: pointer;

                .link-icon {
                    width: 20px;
                    height: 20px;
                    fill: $dialog-primary;
                    background-repeat: no-repeat;
                    background-image: url('assets/svg/Presentation/link.svg');
                    margin-right: 12px;
                }
            }

            button {
                height: 28px;
                width: 186px;
                text-transform: capitalize;
                background-color: $dialog-primary;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }


    .MuiDialogContent-root {
        padding: 0;
    }
}
