.dashboard.timeline {

    .dashboard__buttons {
        max-width: 396px;
    }
    .dashboard__buttons > div:nth-child(1) {
        max-width: 138px;
    }
}


.timeline {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.01em;


    &-container {
        box-shadow: $content-block-shadow;
        height: 74vh;
        overflow-y: auto;
        background-color: $white;
        display: flex;
        border-radius: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin-top: 20px;

        .row {
            width: 100%;
            margin-top: 20px;
        }
    }

    &-stages-container {
        width: 100%;
        height: 90%;
        margin-top: 10px;
        overflow-y: auto;

        .stage-unit {
            display: flex;
            align-items: center;

            .timeline-account-name {
                text-align: right;
                font-size: 14px;
                padding-right: 20px;
            }
            .timeline-stage-limits .step-container,
            .timeline-stage .step-container {
                width: 100% !important;
                display: flex;
                align-items: center;
                position: relative;
            }


            .stage-step {
                width: 100%;
                height: 12px;
                border-radius: 30px;

                &-icon {
                    width: 36px;
                    height: 36px;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -15px;
                    z-index: 9;

                    span {
                        position: relative;
                        top: 9px;
                        cursor: default;
                    }
                }
            }
            .stage-step.completed {
                background-color: $primary;
            }
            .stage-step.uncompleted {
                background-color: $hover-selected;
            }
            .stage-step-icon.completed {
                color: #fff;
                background-image: url('assets/svg/timelineIcons/stage-1.svg');
            }
            .stage-step-icon.uncompleted {
                background-image: url('assets/svg/timelineIcons/stage-3.svg');
            }
            .stage-step-icon.overflow-deadline {
                background-image: url('assets/svg/timelineIcons/stage-2.svg');
            }
        }
    }

    &-account-name {
        width: 12.5%;
    }
    &-stage-limits {
        width: 6.25%;
    }
    &-stage-titles {
        width: 12.5%;
        text-align: center;

        div {
            width: 140px;
            margin: 0 auto;
            font-weight: 600;
        }
    }
    &-stage {
        width: 12.5%;
        text-align: center;

        &-name {
            text-align: right;
        }
    }
}

.custom-tooltip {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;

    .tt-company {
        font-size: 20px;
        line-height: 28px;
    }

    .tt-title {
        margin-top: 24px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .tt-message {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}
